<% link_to 'Dashboard', dashboard_path(current_user) %>

<div>
  <h5>Dashboard</h5>
  <%#= @user.id %><%#= @user.first_name %>
</div>
 
<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <p>Update Transactions Section</p>
        <!--Link to Goal index?-->
        <%= link_to("Update Your Savings Streams", goals_path) %>
        <!--Goal index shows list of links of  goals-->
        <!--Indiv Goal will show list of transactions-->
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <p>Graph goes here</p>
        <!--Should be all transactions for all goals per goal-->
        <% if current_user %>
          <%= column_chart current_user&.goals.goal_totals, prefix: "$" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <p>Rewards Section</p>
        <!--Link to rewards index-->
        <%= link_to("Rewards", rewards_path) %>
        <!--Index links to reward show-->
        <!--Show page shows reward level, link to edit, link to assoc. goal -->
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <p>Goal Setting Section</p>
        <!--Link to goal new-->
        <%= link_to("Start a NEW Goal", new_goal_path) %>
        <!--Goal new.save renders indiv goal show -->
        <!--Indiv goal shows list of transactions plus graph for that specific goal-->
        <!--Indiv goal has link to new reward if not created or reward page-->
      </div>
    </div>
  </div>
</div>