<h1>This will be the page showing the main image</h1>
<h1>Goal Oriented Saving</h1>
<h3>Challenge yourself: keep track to get there faster</h3>
<p>Using small steps to create visual solution for the smart saver</p>

